{% extends "base.html" %}
{% block content %}
{% for post in posts %}
<div class="leftContent">		
	<h1 class="smTitleBar"><a href="{{ websiteUrl }}posts/{{ post.slug }}">{{ post.title }}</a></h1>
	<span class="calendar"><i class="fa fa-calendar"></i> {{ post.fancyDate }}</span>
	<div>
	{{ post.htmlContent | raw }}
	</div>
	<div class="postFooter">
	<p>Publicado por {{ post.author.authorName }}</p>
	<i class="fa fa-comments" aria-hidden="true"></i> <a href="{{ websiteUrl }}posts/{{ post.slug }}#disqus_thread">Link</a>
	</div>
</div>
{% endfor %}
{% endblock %}