{% extends "admin.html" %}
{% block content %}
<pre style="text-align: center;" class="millennium">
 __  __ _ _ _                  _                 
|  \/  (_) | | ___ _ __  _ __ (_)_   _ _ __ ___  
| |\/| | | | |/ _ \ '_ \| '_ \| | | | | '_ ` _ \ 
| |  | | | | |  __/ | | | | | | | |_| | | | | | |
|_|  |_|_|_|_|\___|_| |_|_| |_|_|\__,_|_| |_| |_|
</pre>
{# Isto é usado para mensagens ao criar/editar/deletar posts #}
{# Caso não tenha acontecido nada, o padrão é "Normalizando Rede Social" #}
<div class="alert alert-info" role="alert">
{{ message | default("Normalizando Rede Social") }}
</div>
<p>Posts publicados: {{ postsPublicados }}</p>
<a href="{{ websiteUrl }}admin/createpost">Criar novo post</a>
<div class="everything">
<div class="sidebarLeft">
<i class="fa fa-list" aria-hidden="true"></i> Postagens
</div>
<div class="contentWrapper">
<table style="width:100%">
<tr>
<th>
Título
</th>
<th>
Autor
</th>
<th>
Visualizações
</th>
<th>
Data de publicação
</th>
{% for post in posts %}
<tr>
<td><i class="fa fa-commenting" aria-hidden="true"></i> <a href="{{ websiteUrl }}admin/editpost/{{ post.slug }}">{{ post.title }}</a></td>
<td><i class="fa fa-user" aria-hidden="true"></i> {{ post.author.authorName }}</td>
<td><i class="fa fa-eye" aria-hidden="true"></i> {{ post.viewCount }}</td>
<td><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.smallDate }}</td>
</tr>
{% endfor %}
</table> 
</div>
</div>
{% endblock %}