html { 
  background: url("assets/img/bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 14px;
  color: #333333;
}

h1, h2, h3, h4 {
	font-family: "Open Sans",Arial,sans-serif;
}

#header {
	text-align: center;
}


#navBarWrapper {
	margin-left: 15px;
    margin-right: 15px;
}

#navBar {
    font-size: 14px;
    border-color: #FF8F00;
    border-radius: 8px;
    background-clip: content-box;
    background-color: #00b7ff;
    min-height: 53px;
    border-bottom: 3px solid #009FDE !important;
    width: 100%;
    z-index: 100;
}

#navBar a {
    color: inherit;
    text-decoration: none;
}

#navBar a:hover
{
     color: inherit;
     text-decoration:none;
     cursor:pointer;
}

#navBar a:active {
     color: inherit;
     text-decoration:none;
     cursor:pointer;
}

#navBar .tabs {
    font-family: "Open Sans",Arial,sans-serif;
    line-height: 50px !important;
    padding: 0px 15px !important;
    display: block;
    float: left;
    vertical-align: text-bottom;
    text-align: center;
    outline: 0px none;
    box-sizing: border-box;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border-right-color: #00b0f6;
    border-right-style: solid;
    border-right-width: 1px;
    text-align: center;
}

#navBar .rightTab {
    float: right;
    font-family: "Open Sans",Arial,sans-serif;
    line-height: 50px !important;
    padding: 0px 15px !important;
	margin-right: 2px;
    display: block;
    vertical-align: text-bottom;
    text-align: center;
    outline: 0px none;
    box-sizing: border-box;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border-right-color: #f57c00;
    border-right-style: solid;
    border-right-width: 2px;
    text-align: center;
    position: relative;
    top: 2px;
}

#navBar .signIn {
    font-family: "Open Sans",Arial,sans-serif;
    line-height: 50px !important;
    padding: 0px 15px !important;
    display: block;
    float: right;
    vertical-align: text-bottom;
    text-align: center;
    outline: 0px none;
    box-sizing: border-box;
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid #E40000;
    background-color: #FC0000;
}

#navBar .leftTab {
    font-family: "Open Sans",Arial,sans-serif;
    line-height: 53px !important;
    padding: 0px 15px !important;
    display: block;
    float: right;
    vertical-align: text-bottom;
    text-align: center;
    outline: 0px none;
    box-sizing: border-box;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid rgb(0, 174, 228);
    background-color: #00C2FE;
}

#bottomNavBar {
	background-color: #00C2FE;
    border-radius: 8px;
    border-bottom: 3px solid rgb(0, 174, 228);
}

.serverSeparator {
	padding: 3px;
	font-family: "Open Sans",Arial,sans-serif;
	color: white;
	font-weight: bold;
}

.button_danger {
    border: 0px none;
    background: #ff0000 none repeat scroll 0% 0%;
    border-radius: 4px;
    box-shadow: 0px 5px 0px #b50000;
    color: #FFF;
    cursor: pointer;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-feature-settings: inherit;
    font-language-override: inherit;
    font-kerning: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    margin: 3px;
    outline: 0px none;
    padding: 4px 12px;
    font-size: 120%;
    transition: all 0.1s linear 0s;
}

.button_danger:active {
  box-shadow: 0 2px 0 #b50000;
  transform: translateY(3px);
}

.button_normal {
    border: 0px none;
    background: #009CFF none repeat scroll 0% 0%;
    border-radius: 4px;
    box-shadow: 0px 5px 0px #006899;
    color: #FFF;
    cursor: pointer;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-feature-settings: inherit;
    font-language-override: inherit;
    font-kerning: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    margin: 3px;
    outline: 0px none;
    padding: 4px 12px;
    font-size: 120%;
    transition: all 0.1s linear 0s;
}

.button_normal:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

#underdog {
	background-color: #f7f7f7;
	padding: 1% 2% 1% 2%;
	border-radius: 7px;
	margin-top: 1%;
	background-color: rgba(0, 0, 0, 0.48);
}

#searchBar {
	background-color: white;
	border-radius: 7px;
    border-bottom: 3px solid rgb(242, 242, 242);
	margin-bottom: 3%;
	text-align: center;
}

.content {
	background-color: white;
	border-radius: 7px;
    border-bottom: 3px solid rgb(242, 242, 242);
	margin-bottom: 3%;
	text-align: center;
}

.leftContent {
	background-color: white;
	border-radius: 10px;
	margin-bottom: 1%;
	text-align: center;
	float: left;
	width: 68%;
}

#rightContent {
	float: right;
	width: 30%;
}

.widget {
	background-color: white;
	border-radius: 10px;
    border-bottom: 3px solid rgb(242, 242, 242);
	margin-bottom: 3%;
	text-align: center;
	float: right;
	width: 100% !important;
}

.titleBar {
    background-color: #00c2fe;
    border-radius: 8px;
    border-bottom: 3px solid rgb(0, 174, 228);
    font-family: "Oswald",Arial,sans-seri;
    color: white;
	text-transform: uppercase;
	font-size: 26px;
    padding: 3px;
	margin: 0;
}

.smTitleBar {
    background-color: #00b7ff;
    border-radius: 8px;
    border-bottom: 3px solid #009fde;
    font-family: "Oswald",Arial,sans-seri;
    color: white;
	text-transform: uppercase;
	font-size: 20px;
    padding: 3px;
	margin: 0;
	text-shadow: 0 1px #000000;
}

#everything {
	width: 92%;
	margin: auto;
}
.serverIp {
    background-color: #00AEE4;
    border-radius: 7px;
    float: right; !important
}

#footer {
	background-color: white;
	border-radius: 7px;
    border-bottom: 3px solid rgb(242, 242, 242);
	margin-bottom: 3%;
	text-align: center;
} 

input, button{outline: none;}

.searchField {
    overflow:hidden;
    border-radius: 3px;
	margin: auto;
	text-align: center;
}
.searchField > *{
    vertical-align:top;
    border:0;
    margin:0;
    padding: 13px 10px;
}
.searchField > input[type=text]{
    width:90%;
    border-radius: 7px 0px 0px 7px;
    border-bottom: 3px solid rgb(242, 242, 242);
    margin-bottom: 3%;
}
.searchField > button{
        background: #f51800;
    color:#fff;
    cursor:pointer;
    width:70px;
    border-radius: 0px 7px 7px 0px;
    border-bottom: 3px solid rgba(231, 41, 0, 1);
    margin-bottom: 3%;
}
.searchField > button::-moz-focus-inner {
    border: 0;
}
	
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

#progressbar {
    background-color: #f3f3f3;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 3px;
}
    
#progressbar > div {
    background-color: #ffa000;
    width: 0%; /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
}
	
/**
 * Gamealition Panorama theme by Roy Curtis, 2015
 * Uses colors and gradients from the PBTech phpBB theme
 * See: https://www.phpbb.com/customise/db/style/pbtech/
 */

panorama
{
	font-family: 'Oswald', 'Arial Narrow', sans-serif;
    display:         flex;
    flex-flow:       column;
    justify-content: flex-end;
    align-items:     center;
    height:          400px;
    background:      #AEADAC url('http://sparklypower.net/assets/img/pano-1.png');
    cursor:          move;
	background-color: white;
    border-radius: 7px;
    border-bottom: 3px solid rgb(242, 242, 242);
    text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

panorama .playerHead {
	height: 16px;
	position: relative;
	top: 2px;
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}
panorama pano
{
    display: none;
}

panorama > controller
{
    display:         flex;
    align-content:   flex-end;
    justify-content: center;
    flex-wrap:       wrap;
    margin:          0 0 0.5em;
}

panorama > controller,
panorama > controller button
{
    color: #FFFFFF;
}

panorama > controller button
{
    background:  rgba(0, 0, 0, 0.75);
    border:      none;
    color:       #FFFFFF;
    cursor:      pointer;
    display:     block;
    flex-basis:  64px;
    font-size:   large;
    padding:     1px 16px 2px;
    text-shadow: none;
}

panorama > controller button.prev
{
    border-radius: 0 0 0 5px;
}

panorama > controller button.next
{
    border-radius: 0 0 5px 0;
}

panorama > controller .wrapper
{
    flex-grow:     1;
    flex-basis:    100%;
    text-align:    center;
    border-radius: 5px;
	text-shadow: 0 1px #989898;
}

panorama > controller .titleSpan {
	font-size: 1.75em;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 15px 15px 0px 0px;
	padding-right: 15px;
	padding-left: 15px;
}

panorama > controller .subtitle {
	background: rgba(0, 0, 0, 0.75);
	border-radius: 15px;
}

panorama > controller .subtitle:before
{
    content:       "por ";
    padding-right: 4px;
    font-style:    italic;
    font-size:     small;
}

/* Javascript-less overrides */

body.no-js > panorama
{
    cursor:          auto;
    height:          200px;
    background-size: auto 200px;
}

body.no-js > panorama > controller
{
    margin: 0;
}

body.no-js > panorama > controller > span
{
    padding:       4px 8px;
    border-radius: 5px 5px 0 0;
}

body.no-js > panorama > controller button
{
    display: none;
}

@-webkit-keyframes swinging{
0%{-webkit-transform: rotate(0deg); animation: ease-out;}
25%{-webkit-transform: rotate(2deg); animation: ease-in;}
50%{-webkit-transform: rotate(0deg); animation: ease-out;}
75%{-webkit-transform: rotate(-2deg); animation: ease-in;}
100%{-webkit-transform: rotate(0deg); animation: ease-out;}
}
@keyframes swinging{
0%{transform: rotate(0deg); animation: ease-out;}
25%{transform: rotate(2deg); animation: ease-in;}
50%{transform: rotate(0deg); animation: ease-out;}
75%{transform: rotate(-2deg); animation: ease-in;}
100%{transform: rotate(0deg); animation: ease-out;}
}
.swingimage {
-webkit-animation: swinging 12s linear forwards infinite;
animation: swinging 12s linear forwards infinite;
width: 98%;
}

.widget img {
	max-width: 100%;
}

.widgetContent {
	padding-left: 5px; padding-right: 5px;
}

.postFooter {
	background-color: #f9f9f9;
	border-bottom: 3px solid rgb(218, 218, 218) !important;
	border-radius: 0 0 10px 10px;
}

.midWayFooter {
	background-color: #f9f9f9;
}

.calendar {
	color: #333333;
font: 12px Oswald,Arial;
letter-spacing: 0;
text-shadow: 0 1px 0 #FFFFFF;
text-transform: lowercase;
}

h1 a {
	text-decoration: none;
	color: white !important;
}

a {
	text-decoration: none;
	color: #00aeff;
}

.tooltip{position:absolute;z-index:1070;display:block;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;filter:alpha(opacity=0);opacity:0;line-break:auto}.tooltip.in{filter:alpha(opacity=90);opacity:.9}.tooltip.top{padding:5px 0;margin-top:-3px}.tooltip.right{padding:0 5px;margin-left:3px}.tooltip.bottom{padding:5px 0;margin-top:3px}.tooltip.left{padding:0 5px;margin-left:-3px}.tooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:center;background-color:#000;border-radius:4px}.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-left .tooltip-arrow{right:5px;bottom:0;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-right .tooltip-arrow{bottom:0;left:5px;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-left .tooltip-arrow{top:0;right:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-right .tooltip-arrow{top:0;left:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}
.label{display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em}a.label:focus,a.label:hover{color:#fff;text-decoration:none;cursor:pointer}.label:empty{display:none}.btn .label{position:relative;top:-1px}.label-default{background-color:#777}.label-default[href]:focus,.label-default[href]:hover{background-color:#5e5e5e}.label-primary{background-color:#337ab7}.label-primary[href]:focus,.label-primary[href]:hover{background-color:#286090}.label-success{background-color:#5cb85c}.label-success[href]:focus,.label-success[href]:hover{background-color:#449d44}.label-info{background-color:#5bc0de}.label-info[href]:focus,.label-info[href]:hover{background-color:#31b0d5}.label-warning{background-color:#f0ad4e}.label-warning[href]:focus,.label-warning[href]:hover{background-color:#ec971f}.label-danger{background-color:#d9534f}.label-danger[href]:focus,.label-danger[href]:hover{background-color:#c9302c}